@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1> Lista de Livros - MVC Application</h1>
    <p>
        Nessa lista se encontram todas as 4 operações de um CRUD:
        <ul>
            <h3>Create</h3>
            <h3>Read</h3>
            <h3>Update</h3>
            <h3>Delete</h3>
        </ul>
        Aqui o usuário tem a chance realizar tudo isso conectado a um banco de dados usando o Entity Framework.
    </p>
</div>
